<?php
/**
 * PaymentsProgramApi
 * PHP version 5
 *
 * @category Class
 * @package  EBay\Account
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Account API
 *
 * The <b>Account API</b> gives sellers the ability to configure their eBay seller accounts, including the seller's policies (eBay business policies and seller-defined custom policies), opt in and out of eBay seller programs, configure sales tax tables, and get account information.  <br/><br/>For details on the availability of the methods in this API, see <a href=\"/api-docs/sell/account/overview.html#requirements\">Account API requirements and restrictions</a>.
 *
 * OpenAPI spec version: v1.7.0
 *
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 * Swagger Codegen version: 3.0.33
 */
/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace EBay\Account\Api;

use EBay\Account\ApiException;
use EBay\Account\Configuration;
use EBay\Account\HeaderSelector;
use EBay\Account\Model\PaymentsProgramResponse;
use EBay\Account\ObjectSerializer;
use GuzzleHttp\Client;
use GuzzleHttp\ClientInterface;
use GuzzleHttp\Exception\RequestException;
use GuzzleHttp\Promise\PromiseInterface;
use GuzzleHttp\Psr7\MultipartStream;
use GuzzleHttp\Psr7\Request;
use GuzzleHttp\RequestOptions;
use InvalidArgumentException;
use RuntimeException;
use stdClass;

use function GuzzleHttp\Psr7\build_query;

/**
 * PaymentsProgramApi Class Doc Comment
 *
 * @category Class
 * @package  EBay\Account
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class PaymentsProgramApi
{
    /**
     * @var ClientInterface
     */
    protected $client;

    /**
     * @var Configuration
     */
    protected $config;

    /**
     * @var HeaderSelector
     */
    protected $headerSelector;

    /**
     * @param  ClientInterface  $client
     * @param  Configuration  $config
     * @param  HeaderSelector  $selector
     */
    public function __construct(
        ClientInterface $client = null,
        Configuration $config = null,
        HeaderSelector $selector = null
    ) {
        $this->client = $client ?: new Client();
        $this->config = $config ?: new Configuration();
        $this->headerSelector = $selector ?: new HeaderSelector();
    }

    /**
     * @return Configuration
     */
    public function getConfig()
    {
        return $this->config;
    }

    /**
     * Operation getPaymentsProgram
     *
     * @param  string  $marketplace_id  This path parameter specifies the eBay marketplace of the payments program for which you want to retrieve the seller&#x27;s status. (required)
     * @param  string  $payments_program_type  This path parameter specifies the payments program whose status is returned by the call. (required)
     *
     * @throws ApiException on non-2xx response
     * @throws InvalidArgumentException
     * @return PaymentsProgramResponse
     */
    public function getPaymentsProgram($marketplace_id, $payments_program_type)
    {
        [$response] = $this->getPaymentsProgramWithHttpInfo($marketplace_id, $payments_program_type);

        return $response;
    }

    /**
     * Operation getPaymentsProgramWithHttpInfo
     *
     * @param  string  $marketplace_id  This path parameter specifies the eBay marketplace of the payments program for which you want to retrieve the seller&#x27;s status. (required)
     * @param  string  $payments_program_type  This path parameter specifies the payments program whose status is returned by the call. (required)
     *
     * @throws ApiException on non-2xx response
     * @throws InvalidArgumentException
     * @return array of \EBay\Account\Model\PaymentsProgramResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function getPaymentsProgramWithHttpInfo($marketplace_id, $payments_program_type)
    {
        $returnType = '\EBay\Account\Model\PaymentsProgramResponse';
        $request = $this->getPaymentsProgramRequest($marketplace_id, $payments_program_type);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? $e->getResponse()->getBody()->getContents() : null
                );
            }

            $statusCode = $response->getStatusCode();

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    $response->getBody()
                );
            }

            $responseBody = $response->getBody();
            if ($returnType === '\SplFileObject') {
                $content = $responseBody; //stream goes to serializer
            } else {
                $content = $responseBody->getContents();
                if (!in_array($returnType, ['string', 'integer', 'bool'])) {
                    $content = json_decode($content);
                }
            }

            return [
                ObjectSerializer::deserialize($content, $returnType, []),
                $response->getStatusCode(),
                $response->getHeaders(),
            ];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\EBay\Account\Model\PaymentsProgramResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
            }
            throw $e;
        }
    }

    /**
     * Create request for operation 'getPaymentsProgram'
     *
     * @param  string  $marketplace_id  This path parameter specifies the eBay marketplace of the payments program for which you want to retrieve the seller&#x27;s status. (required)
     * @param  string  $payments_program_type  This path parameter specifies the payments program whose status is returned by the call. (required)
     *
     * @throws InvalidArgumentException
     * @return Request
     */
    protected function getPaymentsProgramRequest($marketplace_id, $payments_program_type)
    {
        // verify the required parameter 'marketplace_id' is set
        if ($marketplace_id === null || (is_array($marketplace_id) && count($marketplace_id) === 0)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $marketplace_id when calling getPaymentsProgram'
            );
        }
        // verify the required parameter 'payments_program_type' is set
        if ($payments_program_type === null || (is_array($payments_program_type) && count($payments_program_type) === 0)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $payments_program_type when calling getPaymentsProgram'
            );
        }

        $resourcePath = '/payments_program/{marketplace_id}/{payments_program_type}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;


        // path params
        if ($marketplace_id !== null) {
            $resourcePath = str_replace(
                '{'.'marketplace_id'.'}',
                ObjectSerializer::toPathValue($marketplace_id),
                $resourcePath
            );
        }
        // path params
        if ($payments_program_type !== null) {
            $resourcePath = str_replace(
                '{'.'payments_program_type'.'}',
                ObjectSerializer::toPathValue($payments_program_type),
                $resourcePath
            );
        }

        // body params
        $_tempBody = null;

        if ($multipart) {
            $headers = $this->headerSelector->selectHeadersForMultipart(
                ['application/json']
            );
        } else {
            $headers = $this->headerSelector->selectHeaders(
                ['application/json'],
                []
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            // $_tempBody is the method argument, if present
            $httpBody = $_tempBody;
            // \stdClass has no __toString(), so we should encode it manually
            if ($httpBody instanceof stdClass && $headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($httpBody);
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $multipartContents[] = [
                        'name' => $formParamName,
                        'contents' => $formParamValue,
                    ];
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif ($headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = build_query($formParams);
            }
        }

        // this endpoint requires OAuth (access token)
        if ($this->config->getAccessToken() !== null) {
            $headers['Authorization'] = 'Bearer '.$this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = build_query($queryParams);

        return new Request(
            'GET',
            $this->config->getHost().$resourcePath.($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Create http client option
     *
     * @return array of http client options
     * @throws RuntimeException on file opening failure
     */
    protected function createHttpClientOption()
    {
        $options = [];
        if ($this->config->getDebug()) {
            $options[RequestOptions::DEBUG] = fopen($this->config->getDebugFile(), 'a');
            if (!$options[RequestOptions::DEBUG]) {
                throw new RuntimeException('Failed to open the debug file: '.$this->config->getDebugFile());
            }
        }

        return $options;
    }

    /**
     * Operation getPaymentsProgramAsync
     *
     *
     *
     * @param  string  $marketplace_id  This path parameter specifies the eBay marketplace of the payments program for which you want to retrieve the seller&#x27;s status. (required)
     * @param  string  $payments_program_type  This path parameter specifies the payments program whose status is returned by the call. (required)
     *
     * @throws InvalidArgumentException
     * @return PromiseInterface
     */
    public function getPaymentsProgramAsync($marketplace_id, $payments_program_type)
    {
        return $this->getPaymentsProgramAsyncWithHttpInfo($marketplace_id, $payments_program_type)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation getPaymentsProgramAsyncWithHttpInfo
     *
     *
     *
     * @param  string  $marketplace_id  This path parameter specifies the eBay marketplace of the payments program for which you want to retrieve the seller&#x27;s status. (required)
     * @param  string  $payments_program_type  This path parameter specifies the payments program whose status is returned by the call. (required)
     *
     * @throws InvalidArgumentException
     * @return PromiseInterface
     */
    public function getPaymentsProgramAsyncWithHttpInfo($marketplace_id, $payments_program_type)
    {
        $returnType = '\EBay\Account\Model\PaymentsProgramResponse';
        $request = $this->getPaymentsProgramRequest($marketplace_id, $payments_program_type);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    $responseBody = $response->getBody();
                    if ($returnType === '\SplFileObject') {
                        $content = $responseBody; //stream goes to serializer
                    } else {
                        $content = $responseBody->getContents();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders(),
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        $response->getBody()
                    );
                }
            );
    }
}
